body {
        background-image: url("../assets/mainBackground.jpg");
        background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    margin-bottom: 20px;
    }
